{% extends "base.html" %}
{% block title %}Contact{% endblock %}
{% block content %}

<div class="contact-overview">
    <h2>Contact Us</h2>

    <article class="media content-section">
        <div class="media-body">
        <h4 class="article-title">Camp4Free</h4>
        <li><h6 class="article-title">Lindusstraße 35, 53312 Lunaburg</h6></li>
        <li><h6 class="article-title" >Tel: +49 123 12345</h6></li>
        <li><h6 class="article-title" >Email: info.camp4free@gmail.com</h6></li>
        </div>
    </article>
</div>

{% endblock%}