{% extends "base.html" %}
{% block title %}Update Account{% endblock %}

{% block content %}
<form method="POST">

  <div class="travellerblock">

    <h5>I/We have...</h5>

    <div class="form-group">
      <div class="form-check form-check-inline">
        {% if traveller1.t_tent == "Yes" %}
        <input class="form-check-input" type="checkbox" id="t_tent" value="Yes" name="t_tent" checked>
        <label class="form-check-label" for="t_tent">Tent</label>
        {% else %}
        <input class="form-check-input" type="checkbox" id="t_tent" value="Yes" name="t_tent">
        <label class="form-check-label" for="t_tent">Tent</label>
        {% endif %}
      </div>
      <div class="form-check form-check-inline">
        {% if traveller1.t_car == "Yes" %}
        <input class="form-check-input" type="checkbox" id="t_car" value="Yes" name="t_car" checked>
        <label class="form-check-label" for="t_car">Car</label>
        {% else %}
        <input class="form-check-input" type="checkbox" id="t_car" value="Yes" name="t_car">
        <label class="form-check-label" for="t_car">Car</label>
        {% endif %}
      </div>
      <div class="form-check form-check-inline">
        {% if traveller1.t_cartrailer == "Yes" %}
        <input class="form-check-input" type="checkbox" id="t_cartrailer" value="Yes" name="t_cartrailer" checked>
        <label class="form-check-label" for="t_cartrailer">Car with Trailer</label>
        {% else %}
        <input class="form-check-input" type="checkbox" id="t_cartrailer" value="Yes" name="t_cartrailer">
        <label class="form-check-label" for="t_cartrailer">Car with Trailer</label>
        {% endif %}
      </div>
      <div class="form-check form-check-inline">
        {% if traveller1.t_motorhome == "Yes" %}
        <input class="form-check-input" type="checkbox" id="t_motorhome" value="Yes" name="t_motorhome" checked>
        <label class="form-check-label" for="t_motorhome">Motorhome</label>
        {% else %}
        <input class="form-check-input" type="checkbox" id="t_motorhome" value="Yes" name="t_motorhome">
        <label class="form-check-label" for="t_motorhome">Motorhome</label>
        {% endif %}
      </div>
    </div>

    <h5>How many people are you in total?</h5>

    <div class="form-row">
        <div class="form-group col-md-1">
            <input type="number" class="form-control" id="numberofpeople" name="numberofpeople" value="{{ traveller1.numberofpeople }}">
        </div>

    </div>

    <h5>What else do you need?</h5>

    <div class="form-group">
    <div class="form-check form-check-inline">
        {% if traveller1.t_toilet == "Yes" %}
        <input class="form-check-input" type="checkbox" id="t_toilet" value="Yes" name="t_toilet" checked>
        <label class="form-check-label" for="t_toilet">Toilet</label>
        {% else %}
        <input class="form-check-input" type="checkbox" id="t_toilet" value="Yes" name="t_toilet">
        <label class="form-check-label" for="t_toilet">Toilet</label>
        {% endif %}
    </div>
    <div class="form-check form-check-inline">
        {% if traveller1.t_shower == "Yes" %}
        <input class="form-check-input" type="checkbox" id="t_shower" value="Yes" name="t_shower" checked>
        <label class="form-check-label" for="t_shower">Shower</label>
        {% else %}
        <input class="form-check-input" type="checkbox" id="t_shower" value="Yes" name="t_shower">
        <label class="form-check-label" for="t_shower">Shower</label>
        {% endif %}
    </div>
    <div class="form-check form-check-inline">
        {% if traveller1.t_washingmachine == "Yes" %}
        <input class="form-check-input" type="checkbox" id="t_washingmachine" value="Yes" name="t_washingmachine" checked>
        <label class="form-check-label" for="t_washingmachine">Washing Machine</label>
        {% else %}
        <input class="form-check-input" type="checkbox" id="t_washingmachine" value="Yes" name="t_washingmachine">
        <label class="form-check-label" for="t_washingmachine">Washing Machine</label>
        {% endif %}
    </div>
    <div class="form-check form-check-inline">
      {% if traveller1.t_water == "Yes" %}
      <input class="form-check-input" type="checkbox" id="t_water" value="Yes" name="t_water" checked>
      <label class="form-check-label" for="t_water">Tab Water</label>
      {% else %}
      <input class="form-check-input" type="checkbox" id="t_water" value="Yes" name="t_water">
      <label class="form-check-label" for="t_water">Tab Water</label>
      {% endif %}
    </div>
    <div class="form-check form-check-inline">
      {% if traveller1.t_trash == "Yes" %}
      <input class="form-check-input" type="checkbox" id="t_trash" value="Yes" name="t_trash" checked>
      <label class="form-check-label" for="t_trash">Trash Disposal</label>
      {% else %}
      <input class="form-check-input" type="checkbox" id="t_trash" value="Yes" name="t_trash">
      <label class="form-check-label" for="t_trash">Trash Disposal</label>
      {% endif %}
    </div>

    <div class="notesfield">
      <h5>Is there anything left to say?</h5>
      <textarea name="t_note" id="t_note" class="form-control">{{ traveller1.t_note }}</textarea>
    </div>

    <a><button name="submitbutton" type="submit" class="edit">Submit</button></a>
      
  </div>
</form>
{% endblock %}